<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Forms</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<p>{% for strt in tutorials %}
		    {{strt.street}}<br>{{strt.city}}, {{strt.state}} {{strt.zip_code}}<br><br>
			  {% endfor %}</p>
			<!-- <form method="POST"> -->
				<!-- {{form.as_p}} -->
				<!-- {% csrf_token %} -->
				<!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
			<!-- </form> -->
		</div>
		<div class="container">

		</div>
	</div>
</body>
</html>